<?xml version="1.0"?>
<configuration>
  <!--<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Windows.Controls.Diagrams" publicKeyToken="5803cfa389c90ce7" culture="neutral"/>
        <bindingRedirect oldVersion="2012.1.326.40-2013.1.403.45" newVersion="2013.1.403.45"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>-->
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SSYM.OrgDsn.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    
    
    
    
    
    
    
  </configSections>

  <connectionStrings>
          <add name="BPMNDBEntities" connectionString="metadata='res://*/DbModel.csdl|
res://*/DbModel.ssdl|
res://*/DbModel.msl';provider=System.Data.SqlClient;provider connection string='Data Source=.;Initial Catalog=OrgArcDB49;multipleactiveresultsets=True;Integrated Security=true'" providerName="System.Data.EntityClient"/>

    <!--<add name="BPMNDBEntities" connectionString="metadata='res://*/DbModel.csdl|
res://*/DbModel.ssdl|
res://*/DbModel.msl';provider=System.Data.SqlClient;provider connection string='Data Source=62.3.41.208;Initial Catalog=OrgArcDB49;multipleactiveresultsets=True;User ID=sa;Password=sxA14fXN3R;'" providerName="System.Data.EntityClient"/>-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
  </entityFramework>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    <requiredRuntime version="v4.0.20506"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <SSYM.OrgDsn.UI.Properties.Settings>
      <setting name="userName" serializeAs="String">
        <value/>
      </setting>
      <setting name="password" serializeAs="String">
        <value/>
      </setting>
      <setting name="remember" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="appClr1_c" serializeAs="String">
        <value>#FFF09609</value>
      </setting>
      <setting name="alternateRow_c" serializeAs="String">
        <value>#FFEFEFEF</value>
      </setting>
      <setting name="appBG_c" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LstLocUpdt" serializeAs="String">
        <value/>
      </setting>
      <setting name="UndrDvlp" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Theme" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="appClr1_c" serializeAs="String">
        <value>#FF383838</value>
      </setting>
      <setting name="appClr1Opac_c" serializeAs="String">
        <value>#AA383838</value>
      </setting>
      <setting name="appClr2_c" serializeAs="String">
        <value>#FFff5a00</value>
      </setting>
    </SSYM.OrgDsn.UI.Properties.Settings>
  </userSettings> 
  
  
  
  
</configuration>
